@using eShop.Services.Data.Interfaces
@using eShop.Web.Infrastructure.Extensions
@model IEnumerable<IndexViewModel>


@{
    ViewData["Title"] = "Home Page";

    var products = Model.ToList();
}

@if (!products.Any())
{
<div class="mt-4 p-5 bg-light">
    <h1 class="display-4">Welcome to the best place for shoping!</h1>
    <p class="lead">
        There are no products in The Shop!
    </p>
</div>
}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner">

        @for (int i = 0; i < products.Count(); i++)
        {

            var product = products[i];
                <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <div class="d-flex justify-content-center pb-5 mb-5" style="height: 400px;">
                    <img src="@product.ImagePath" class="d-block pb-3"  alt="@product.Name">
                    </div>
                    <div class="carousel-caption d-none d-md-block pt-5 mt-5">
                        <h5>@product.Name</h5>
                        <p>@product.Price</p>
                    </div>
                    <div class="carousel-caption d-none d-md-block pt-5 mt-5">
                        <h5>
                            <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">Details</a>
                        </h5>
                    </div>
                </div>
        }

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
